<%= render partial: "link", locals: {link: @link} %>

<h4><%= pluralize @link.comments.count, "Comment" %></h4>
<hr />


<% @link.comments.each do |comment| %>
  <div class="comment">
    <div class="avatar">
      <%= avatar_image(comment.user.email) %>
    </div>

    <div><small><strong><%= comment.user.full_name %></strong> commented</small></div>

    <div class="body">
      <%= formatted_body comment.body %>
    </div>
  </div>

  <hr />
<% end %>

<% if user_signed_in? %>
<div class="comment">
  <div class="avatar">
    <%= avatar_image(current_user.email) %>
  </div>
  <div class="body">
    <%= form_for [@link, @comment] do |f| %>
      <%= f.text_area :body, rows: 4 %>

      <div class="pull-left">Woah, this supports <%= link_to "markdown syntax", "http://daringfireball.net/projects/markdown/syntax", tabindex: "-1" %>!</div>
      <div class="pull-right"><%= f.submit class: "btn" %></div>
    <% end %>
  </div>
</div>

<% else %>
  <p class="center"><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "login", new_user_session_path %> to join the conversation.</p>
<% end %>
